// settingフォルダの変数を読み込みます

@use "../setting" as *;

//スライドメニュー表示アニメーションsp
@keyframes zoomUpSp {
  0% {
    opacity: 0;
  }

  100% {
    width: 3000px;
    height: 3000px;
  }
}

//スライドメニュー表示アニメーションtab
@keyframes zoomUpTab {
  0% {
    opacity: 0;
  }

  100% {
    width: 5000px;
    height: 5000px;
  }
}

//mvのスクロールボタンの矢印アニメーション：移動量
@keyframes arrowMove {
  0% {
    top: 10px;
  }

  100% {
    top: 40px;
  }
}

//mvのスクロールボタンの矢印アニメーション：途中で隠す
@keyframes arrowHide {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  80% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}

//fadeRight
@keyframes fadeRight {
  0%{
    opacity: 0;
    transform: translateX(-40px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}

//fadeUp
@keyframes fadeUp {
  0%{
    opacity: 0;
    transform: translateY(40px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

//fadeIn
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
